.centerAbout{
	text-align:center;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  margin-top: 10;
  margin-bottom: 10;
  padding-top: 10;
  padding-bottom: 10;
  color:#d7dae0;
}
.innerBlurb{
margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0}
img{
	border-radius: 20%;
}
.movein{
	margin-left: 10vw;
	margin-right: 10vw;
  padding-bottom: 10vh;
  padding-top: 10vh;
}
.cleanspace{
  margin-bottom: 0;
  padding-top: 5vh;
  padding-bottom: 5vh;
}